
  
  .App-header {
    background-color: #222;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .box_centered {
    text-align: center;
    max-width: 350px;
    margin: auto;
  }
  
  .box_centered > * {
    text-align: left;
  }
  
  .citySearchField {
    margin: 35px 0;
    font-weight: 700;
  
  }