.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.city-field {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.panel-default {
  max-width: 200 px;
  margin-left: auto;
  margin-right: auto;
  margin-top:  20px;
}

.panel {
  max-width: 300px;

}

.panel-body{
    margin: auto;
    max-width: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
